*{
    padding: 0px;
    margin: 0px;

}



h1 {
    color :black;
    font-size:xx-large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
}

p {
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 50px;
}

nav {
    width: 100%;
    /*background-color: grey;*/
    position: sticky;
    top: 0px;
    
    /*border: 3px blue dashed;*/
}

nav ul{
    list-style-type: none;
    float: right;
    padding-top: 0px;
    
}


#Llina {
    margin-top: 20px;
    margin-left: 20px;
}


nav ul li{
    font-weight: inherit;
    float: left;
    width: auto;
    height: 10px;
    text-align: center;
    position: relative;

    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    
}

nav a:hover{
    color: orange;
    /*border-bottom: 2px solid gold;*/
}

.sous{
    display: none;
    /*box-shadow: 0px 1px 2px #aaa;*/
    /*background-color: red;*/
    position: absolute;
    width: 100%;
    z-index: 1000;
}



nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    
}

.active {
    font-weight: bold;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}


img {
    display: block;
    width: 30em;
    margin-left: auto;
    margin-right: auto;

    padding-top: 15px;
    padding-bottom: 15px;
}


footer {
    background-color: #aaa;
}